/* Общие стили */
ul, li
  padding 0
  margin 0
  list-style-type none
a
  color #fff
a:hover,
a:focus,
a:active,
a:visited
  text-decoration none
  color #fff

body
  font-family 'Roboto', sans-serif
/* /Общие стили */
