extends ../templates/simple-page.pug

block header
  header.header.header-main
    include main-header

block content
  section.main-prices
    .container
      +titleStrokeCenter('Цены')
      .main-prices-item_row
        .row
          mixin mainPricesItem(header, img, footer)
            .col-12.col-md-6.col-lg-3
              section.main-prices-item
                header.main-prices-item__header= header
                img.main-prices-item__img(src= img)
                footer.main-prices-item__footer= footer
                .main-prices-item__button-wrapper
                  button.main-prices-item__button Подробнее
          +mainPricesItem('Вскрытие отечественного звонка', 'images/main-prices.png', 'от 20 рублей')
          +mainPricesItem('Вскрытие отечественного звонка', 'images/main-prices.png', 'от 20 рублей')
          +mainPricesItem('Вскрытие отечественного звонка', 'images/main-prices.png', 'от 20 рублей')
          +mainPricesItem('Вскрытие отечественного звонка', 'images/main-prices.png', 'от 20 рублей')
block seoText
  section.seo-text
    .container
      article
        header
          +titleStrokeCenter('Заголовок статьи')
        img.seo-text__img(src='images/main-article-key.png')
        section.seo-text__text
          p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
          p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом ипридаст неповторимый колорит советских времен.
      
