// Услуги
.simple-page-content
  padding 40px 0
.services__img
  width 100%
  max-width 280px
  margin-bottom 5px
.services__text
  font-size 18px
.services__phone
  font-size 30px
  font-weight bold
.services__button
  border-radius 10px
  background-color #000
  color #fff
  padding 10px 30px
  margin auto
  display inline-block
// /Услуги
